@charset "UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
.ui-com {
    font-size: 14px;
    max-height: 100px;
    max-width: 172px;
    overflow-y: auto;
    /* 防止水平滚动条 */
    overflow-x: hidden;
}
.panel-body th{
	white-space:nowrap;
}
.fixed{
	white-space:nowrap;
}
.kv-file-content{
	position: relative;
}
#parallelogram {
    width: 30px;
    height: 35px;
    color:#fff;
    font-size:10px;
    background: #ff4510;
    position: absolute;
    top:0px;
    right:0px;
}
.search{
	width:200px;
	text-align:center;
	margin:0px auto;
	position: absolute;
    top: 50%;
    margin-top: -16px;
    margin-left: 40%;
}
.search span{
	cursor: pointer;
}
.roomfont{
	text-align: center;
	bottom: 50px;
}
/**
心形
*/
.heart{
	width:10px;
	height:20px;
	position:relative;
 /* relative(相对定位) 对象不可层叠、不脱离文档流，
 参考自身静态位置通过 top,bottom,left,right 定位，并且可以通过z-index进行层次分级 */
}
/* after 伪元素在元素之前添加内容*/
.heart:before{
content:" ";
border-radius:10px 10px 0 0;/* 正方形的内切圆的半径等于正方形边长的一半 */
width:8px; height:12px;/* 长方形 */
background:#ff4510;
-moz-transform: rotate(-45deg);/* 逆时针旋转45°*/
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
position:absolute;/* absolute(绝对定位) 脱离文档流，通过 top,bottom,left,right 定位 */
left:60px;
bottom:2px;
}

/* after 伪元素在元素之后添加内容*/
.heart:after{
content:" ";
width:8px; height:12px;
background:#ff4510;
border-radius:10px 10px 0 0;
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
-webkit-transform: rotate(45deg); 
position:absolute;
left:64px;bottom:2px;
} 
.font{
	color:#F00;
	font-size:8px;
}
#result img{
		width:20%;
		height: 20%;
	}
/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 30px;
    line-height: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #5bc0de;
    border: 1px solid #46b8da;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #fff;
    background: #31b0d5;
    border-color: #269abc;
    text-decoration: none
}
